// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #2A0C4E;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
// if you want to use beige and all, you have to add $
$perpul: #2A0C4E;
$beige: #bcac9b;
