// Specific CSS for your home-page
a{
 text-decoration: none
}
html, body{
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.banner {
  color: white;
  text-align: center;
  height: 80%;
  background-position: center center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(-225deg, rgba(0,101,180,0.6) 0%, rgba(32,40,41,0.3) 1%) ,url("http://res.cloudinary.com/df4gltzir/image/upload/v1503073730/money-coins_kiseua.jpg")
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
