// Specific CSS for your home-page
a{
 text-decoration: none
}
html, body{
  height: 100%;
}

body{
  font-family: "Roboto", Arial, sans-serif !important;
}

.line-anime {
  // font-family: "Roboto";
  font-family:'Raleway';
  font-size: 33px !important;

}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-position: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-anime{
  animation:boxShadow .3s 1s ease forwards;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.thumbnail{
  background-color: white;
  border-radius: 2%;
  // box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0,0,0,.1);
}
.nav-tabs{
  margin-bottom:15px;
}
.caption  h3{
  font-size: 25px;
  text-decoration: none !important;
  color: black;
  font-family: inherit;
}
.caption  h3:hover{
  font-size: 25px;
  text-decoration: none !important;
  color: black;
}
