<h1><%= t('.title') %></h1>

<%= render 'form', entry: @entry, remote: false %>

<br>
<%= link_to t('activerecord.models.entry.other'), entries_path, class: "btn btn-success" %>
<%= link_to t('.show'), @entry, class: "btn btn-primary" %>

<% if policy(Product).new? %>
<% end %>
