<h1>New Entry</h1>

<%= render 'form', entry: @entry %>

<br>
<%= link_to 'Entries', entries_path, class: "btn btn-success" %>

<% if policy(Product).new? %>
  <%= link_to 'New Product', new_product_path, class: "btn btn-success" %>
<% end %>
