// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

body {
  // margin: 0 auto;
  // background-image: image-url("fruits.gif");
  // background-repeat: no-repeat;
  // background-size: cover;
  // height: 100vh;
}
h1{
  margin-top: false !important;
}
.navbar-wagon
{
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,0) !important;
    box-shadow: none !important;
    z-index: 10;
}

.homepage
{
    // color:white;
    text-align: center;
    justify-content: center;
    color: black;
    padding-top: 20%;

}
.login
{

  background-color:white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.change_your_password
{
 background-color:white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.forgot_your_password
{
 background-color:white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.sign_up
{
  background-color:white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 5px;

}
.content
{
  min-height: 570px;
}
