<div class="col-xs-12 circle" style="background-image: url('<%= cl_image_path entry.product.photo.path %>')">
  <div class="circle"><%= entry.product.name %></div>
  <div class="col-xs-12" ><h2><%= entry.quantity %></h2></div>
</div>
