<% entries.each do |entry| %>
  <%= link_to entry do %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <% if entry.photo? %>
          <%= cl_image_tag(entry.photo.path, {size: '100x50'}) %>
        <% end %>

        <!-- <div class="col-xs-12"> -->
        <!-- </div> -->
        <!-- <div class="caption"> -->
          <!-- <h3><%= entry %></h3> -->
        <!-- </div> -->
      </div>
    </div>
  <% end %>
<% end %>
