<div class="content-info">
  <div class="footer">
    <div class="footer-var">
      <div class="footer-copyright">
        <%= image_tag ('Exchange.jpg'), class: "footer-brand" %>
         © AirBarter
      </div>
      <div class="footer-links">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>
