<div class="content-info">
  <div class="footer container">
    <div class="footer-content">
      <div class="row">

      </div>
      <div class="row">
        <div class="col-xs-6 footer-copyright">
          <%= image_tag ('AirbarterLogo.png'), class: "footer-brand" %>
           © AirBarter
        </div>
        <div class="col-xs-6">
          <ul class="footer-links">
            <li class="links"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="links"><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li class="links"><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
