<div class="banner">

</div>
<div class="container">
  <div class="links" style="display: inline-block;">
  <% if  %>
    <%= link_to "Transactions", transactions_path %>
    <!-- <%= link_to "My Invetory" %> -->
  <% end %>
  </div>
</div>
