<div class="banner" style="background-image: linear-gradient(-225deg, rgba(42,12,78,0.3) 36%, rgba(42,12,78,0.3) 50%),url('http://res.cloudinary.com/df4gltzir/image/upload/v1503949574/camels_orti2f.jpg')">
  <div class="banner-container" style="border-bottom: 15px">
    <h2 ><strong><span class="line-anime">Exchange anything without money</strong></h2></span>
    <!-- <br> -->
    <p> </p>
    <h4><span class="font-small">The more peace or knowledge you have. The more there is for all the others.</span></h4>
    <br>
    <% if user_signed_in? %>
      <%= link_to "<span class='font-small'>AirBarter </span>".html_safe, transactions_path, class:"btn btn-original" %>
    <% end %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
