
<div class="banner">

<div class="homepage">

  <div class="row">
    <!-- took all images to show quickly for development -->
   <div class="col-xs-4">
    <!-- <img src="https://c.top4top.net/p_5938049z1.jpg" alt="Mountain View" style="width:150px;height:150px;"> -->
    </div>

   <div class="col-xs-4">
    <!-- <img src="https://d.top4top.net/p_593wb3ti1.jpg" alt="Mountain View" style="width:150px;height:150px;"> -->
    </div>

   <div class="col-xs-4">
    <!-- <img src="https://f.top4top.net/p_593wpg201.jpg" alt="Mountain View" style="width:150px;height:150px;"> -->
    </div>

 </div>
  <br>
    <div class="row">

   <div class="col-xs-2">
    <!-- <img src="https://a.top4top.net/p_593o353e2.jpg" alt="Mountain View" style="width:150px;height:150px;"> -->
    </div>

   <div class="col-xs-8">
     <h1>Welcome to AirBarter</h1>
    </div>

   <div class="col-xs-2">
    <!-- <img src="https://f.top4top.net/p_593bjpka1.jpg" alt="Mountain View" style="width:150px;height:150px;"> -->
    </div>

 </div>
  <br>
 <div class="row">

   <div class="col-xs-4">
    <!-- <img src="https://e.top4top.net/p_593fux4h1.jpg" alt="Mountain View" style="width:150px;height:150px;"> -->
    </div>

   <div class="col-xs-4">
    <!-- <img src="https://f.top4top.net/p_5936gern2.jpg" alt="Mountain View" style="width:150px;height:150px;"> -->
    </div>

   <div class="col-xs-4">
    <!-- <img src="https://a.top4top.net/p_593wzjsz3.jpg" alt="Mountain View" style="width:150px;height:150px;"> -->
    </div>

 </div>

</div>
 </div>

