/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  z-index: 11;
}
.alert-info {
  background: $brand-success;
}
.alert-warning {
  background: #c05746;
}
