<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="thumbnail">
    <%= link_to transaction_path(transaction) do %>
      <% transaction.photos.each do |p| %>
        <%= cl_image_tag(p.path, {size: '100x50'}) %>
      <% end %>
      <div class="col-xs-12">
        <%= image_tag(transaction.proposed_by_user.facebook_picture_url, {size: '50x50'}) %>
      </div>
      <div class="caption">
        <h3><%= transaction.wanted_product.name %></h3>
    <% end %>
    </div>
  </div>
</div>
