<% content_for(:title, t('.title')) %>
<h1><%= t('.title') %></h1>

<%= render 'form', transaction: @transaction %>

<br>
<div>
  <%= link_to t('.show'), @transaction, class: "btn btn-primary" %>
  <%= link_to t('activerecord.models.transaction.other'), transactions_path, class: "btn btn-success" %>
</div>
