<h1>Editing Transaction</h1>

<%= render 'form', transaction: @transaction %>

<br>
<div>
  <%= link_to 'Show', @transaction, class:"btn btn-primary" %>
  <%= link_to 'Transactions', transactions_path, class:"btn btn-success" %>
</div>
