<% content_for(:title, t('.title')) %>
<div class="container">
<h1><%= t('.title') %></h1>

<%= render 'form', transaction: @transaction %>

<br>
<div>
  <%= link_to t('activerecord.models.transaction.other'), transactions_path, class: "btn btn-success" %>
</div>
</div>
