<% content_for(:title, t('.title')) %>
<div class="container">
<h1><%= t('.title') %></h1>

<%= render 'form', product: @product %>

<br>
<%= link_to t('activerecord.models.product.other'), products_path, class: "btn btn-success" %>
<%= link_to t('.show'), @product, class: "btn btn-primary" %>
</div>
