<div class="modify-for-footer">
  <h1><%= t('activerecord.models.product.other') %></h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.product.name') %></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% if policy(Product).new? %>
  <%= link_to t('helpers.submit.product.create'), new_product_path, class: "btn btn-success" %>
<% end %>
<br>
</div>
