<h1><%= t('activerecord.models.product.one') %></h1>
<p>
  <strong><%= t('activerecord.attributes.product.name') %>:</strong>
  <%= @product.name %>
</p>

<%= link_to t('activerecord.models.product.other'), products_path, class: "btn btn-success" %>
