.circle{
  background-size: cover;
  border-radius: 50%;
}
.my-entries-cards{
  background-color: #4f485c;
  height:40vh;
}
.my-entries-cards > h3{
  color: white;
}
.entry-one-card{
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.table > tbody{
  border-top: 0px !important;
}
.appended_table > tr{
  border: none;
}
